doctype html 
html 
    head 
       title 
       block scripts 
       block style 
    body 
      nav#navbar 
        ul
          div#logo
              img(src="../static/img/images (2).png", alt="img")
              |HDA
          li #[a(href="/") Home]
          li #[a(href="/") About us]
          li #[a(href="/") Services]
          li #[a(href="/") class info ]
          li #[a(href="/contact") contact us]
    block content 
    footer#footer 
        |copyroght &copy; 2022 PanwarDanaceAcademy.Com./All Rights Reserved 
