doctype html
html
  head
    title Panwar Dance Academy
    style
      include ../static/style.css
    body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/d1.png")
                | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]

    section#introsection 
       div Welcome to Pratigya Dance Academy 
       div.small Eat sleep Dance repeat

    section#missionsection 
      h2 Our Mission
      div.card
        h3 Dance perfection
          div.card-box 
            div.card-img
               img(src="/static/img/d1.png", alt="images")
            div.card-content
               p This is best dance academy in universe so you will try to learn here to explore your dancing skills.


      div.card
        h3 Dance the way you like.
          div.card-box 
            div.card-img
               img(src="/static/img/d2.png", alt="images")
            div.card-content
               p This is best dance academy in universe so you will try to learn here to explore your dancing skills.
      div.card
        h3 Expert teaching
          div.card-box 
            div.card-img
               img(src="/static/img/images (1).png", alt="images")
            div.card-content
               p This is best dance academy in universe so you will try to learn here to explore your dancing skills.
         
    section#sponsorsection
      h2 Our Sponsors
        div#sponsors
            img(src="../static/img/apple.logo.jpg", alt="apple")
            img(src="../static/img/hcl.png", alt="hcl")
            img(src="../static/img/infosys.png", alt="infosys")
            img(src="../static/img/skype.png", alt="skype")
    footer#footer 
       H3 copyroght &copy; 2022 Panwar Dance Academy.|All Right Reserved.